OPENAQ_API_KEY=your_key_here
HOPSWORKS_API_KEY=your_key_here
HOPSWORKS_PROJECT="your_unique_project_name" #Must be enclosed in double quotes!
HF_TOKEN=your_token_here
HF_REPO_ID=your_username/your_space_name